{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
