@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../assets/fonts/OpenSans.ttf") format("truetype");
}

body {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6, label {
  color: #454545;
  font-weight: 600;
}

.content {
  background-color: #fff;
}

.img-avatar {
  border-radius: 50%;
}

.page-loader {
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -110px;
  margin-left: -50px;
  img {
    width: 100px;
    height: 100px;
  }
}
