$spacer: .8rem;

$body-bg: #e2e2e2;

$paragraph-margin-bottom: .875rem;

$grid-gutter-width: 5px;

$caret-width: .2rem;

$font-size-base: .8rem;

$alert-padding-y: .35rem;
$alert-padding-x: .75rem;
$alert-margin-bottom: .8rem;

$list-inline-padding: .3rem;

$table-cell-padding: .5rem;
$table-cell-padding-sm: .2rem;

$input-btn-padding-y: .275rem;
$input-btn-padding-x: .65rem;

$input-btn-focus-width: .1rem;

$input-btn-padding-y-sm: .2rem;
$input-btn-padding-x-sm: .45rem;

$input-btn-padding-y-lg: .45rem;
$input-btn-padding-x-lg: .95rem;

$input-padding-y: .2rem;
$input-padding-x: .5rem;

$label-margin-bottom: .4rem;

$input-btn-focus-box-shadow: 0 0 0 0 #fff;

$list-group-item-padding-y: .35rem;
$list-group-item-padding-x: .75rem;

$breadcrumb-bg: #fff;
$breadcrumb-padding-y: .35rem;
$breadcrumb-padding-x: .75rem;
$breadcrumb-item-padding: .5rem;

$input-border-radius: .2rem;

$progress-height: .75rem;

$card-spacer-y: .35rem;
$card-spacer-x: .75rem;
$card-border-radius: .2rem;

$pagination-padding-y: .35rem;
$pagination-padding-x: .75rem;
$pagination-padding-y-sm: .25rem;
$pagination-padding-x-sm: .5rem;
$pagination-padding-y-lg: .5rem;
$pagination-padding-x-lg: .75rem;
$pagination-line-height: 1.25;

$pagination-color: #6c757d;
$pagination-hover-color: #000;

$badge-border-radius: .2rem;
