.ember-modal-dialog {
  padding: 0;
}

.modal-content {
  border: none;
}

.modal-dialog {
  margin: 0 auto;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 45px;
  .modal-title {
    left: 50%;
    font-weight: 600;
    position: absolute;
    transform: translateX(-50%);
  }
}

.modal-footer {
  border-top: none;
}

.modal-custom-footer {
  justify-content: space-between;
  &__button-group {
    display: flex;
    justify-content: flex-end;
    button:first-child {
      margin-right: 10px;
    }
  }
}
