.tooltip-inner {
  font-size: 10px;
  padding: 3px 8px;
  background-color: rgba(0,0,0,0.8);
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: rgba(0,0,0,0.8);
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-top-color: rgba(0,0,0,0.8);
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  border-top-color: rgba(0,0,0,0.8);
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
  border-top-color: rgba(0,0,0,0.8);
}
