.navbar {
  background-color: #fff !important;
  box-shadow: 0 6px 3px -3px #e2e2e2;
  .search {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    input, button {
      border: none;
      outline: none;
      padding: 6px 15px;
      background: transparent;
    }
    input {
      width: 200px;
      transition: all 0.2s;
    }
    button svg {
      color: #777;
      font-size: 16px;
      margin-top: -2px;
      transform: scaleX(-1);
    }
    &.active {
      border-color: $primary;
      input {
        width: 300px;
      }
    }
  }
  .dropdown-menu {
    top: 6px !important;
  }
  .avatar {
    padding: 0;
    .img-avatar {
      width: 30px;
      height: 30px;
      border: 1px solid #d2d2d2;
    }
    &:hover {
      .img-avatar {
        opacity: 0.8;
      }
    }
  }
  .bell {
    padding: 0;
    margin-top: 2.5px;
  }
  .new-project-link {
    .btn {
      width: 125px;
      padding-top: 6px;
      padding-bottom: 6px;
      &:focus {
        online: none;
        box-shadow: none;
      }
      &:hover {
        color: #333;
      }
      .text-icon {
        span {
          width: 15px;
          text-align: left;
        }
        svg {
          font-size: 8px;
          vertical-align: 0;
        }
      }
    }
  }
}
